*{
    margin: 0;
    padding: 0;
}

header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 10vh;
    align-items: center;
    background-color: orange;
}

main{
    min-height: 80vh;
    background-color: beige;
}

footer{
    border: 1px solid black;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: orange;
}

.container{
    display: flex;
    background-color: lightgray;
    gap: 10px;
    margin: 10px;
}

/* .galeria{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    gap: 10px;
} */

.img{
    border: 1px solid black;
    width: 160px;
    height: 160px;
    margin: 10px;
}

.parte{
    border: 1px solid black;
    padding: 10px;
}

ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none; /* para tirar a numeração das listas */

}

li{
    border: 1px solid black;
    padding: 10px;
    background-color: beige;
}